/* General Styles */
body {
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  cursor: pointer;
}

.navbar input[type="text"] {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.navbar .login {
  cursor: pointer;
}

/* Sidebar Styles */
.sidebar {
  width: 630px;
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar .category {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.sidebar .category label {
  margin-left: 10px;
}

.sidebar .price-filter {
  margin-top: 20px;
}

.sidebar .price-filter input {
  margin: 5px 0;
  padding: 5px;
  width: calc(100% - 12px);
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sidebar .price-filter button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Product Card Styles */
.products {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h4,
.product-card p {
  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
  }

  .products {
      grid-template-columns: repeat(2, 1fr);
  }
}

.home-page {
  text-align: center;
  margin-top: 50px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}



.product-card {
  cursor: pointer;}